body {
  margin: 0;
  padding: 0;
}

#container {
  text-align: center !important;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.pop-up {
  background-color: #ffffff;
  text-align: center;
  width: 1000px;
  height: 800px;
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #99d8e5;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.22);
}

.plant{
  width: 350px;
  position: absolute;
  top: -126px;
  left: -60px;
  
}
.plant-2{
  width: 300px;
  position: absolute;
  bottom: -65px;
  right: -18px;
  /* -webkit-transform: scaleX(-1);
   */
}

.close-btn {
  background-color: #30808d;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  width: 60px;
  height: 43px;
  right: 50px;
  top: 15px;
  border-radius: 10%;
  position: absolute;
  cursor: pointer;
}

.num-items {
  padding-top: 60px;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 40px;
}

.cart-container{
  height: 440px;
  width: 400px;
  margin: auto;
  overflow-y:auto;
}

.cart-container::-webkit-scrollbar{
  width: 10px;
}

.cart-container::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #30808d;
  height: 100px;
}

.item-images {
  list-style: none;
  padding: 0;
}

.item-images img {
  width: 100px;
  margin-bottom: 40px;
  /* border: 3px solid #99d8e5; */
  /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.22); */
}

.total {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.go-to-cart {
  background-color: #30808d;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 5px 0;
}

.cart-link{
  font-size: 1.65rem;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.hidden{
  display: none;
}